<div>
    <mat-toolbar>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon> 
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="gotoCustomers()">
                <i class="fa fa-user-o" aria-hidden="true"></i>  Customers
            </button>
            <button mat-menu-item (click)="gotoCategories()">
                <i class="fa fa-tasks" aria-hidden="true"></i>  Categories
            </button>
            <button mat-menu-item (click)="gotoProducts()">
                <i class="fa fa-tags" aria-hidden="true"></i>  Products
            </button>
            <button mat-menu-item (click)="gotoInvoice()">
                <i class="fa fa-list" aria-hidden="true"></i>  Invoice
            </button>
            <!-- <button mat-menu-item (click)="gotoPayments()">
                <i class="fa fa-money" aria-hidden="true"></i>  Payments
            </button> -->
            <!-- <button mat-menu-item (click)="gotoReports()">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>  Reports
            </button> -->
        </mat-menu>
        <span [routerLink]="['/dashboard']">Invoice Application</span>
        <span class="example-spacer"></span>
    
        <div ngbDropdown class="d-inline-block" display="dynamic">
            <a ngbDropdownToggle data-toggle="dropdownBasic1" style="cursor: pointer;" >
                <i class="icon feather icon-user" style="margin-right: 5px;" ></i>
                <span>{{ userDetails?.FirstName }} {{ userDetails?.LastName }}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="logout()" class="dropDown-font">Logout</button>
            </div>
        </div>
    
    </mat-toolbar>
</div>