<app-header></app-header>

<div class="container-fluid">
    <div>
      <h1>Invoice Listing</h1>
    </div>
      <div>
        <div class="table-responsive1">
          <div class="add-btn">
            <button class="btn btn-success btn-sm btn-round has-ripple" (click)="addInvoice()">
                + Add Invoice
            </button>
          </div>
          <br>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input matInput [formControl]="search" placeholder="search">
            </mat-form-field>
          </div>
          <div class="table-responsive">        
              <table mat-table [dataSource]="dataSource" matSort class="table-hover">

                <ng-container matColumnDef="InvoiceNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.InvoiceNumber}}</td>
                </ng-container>

                <ng-container matColumnDef="CustomerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.CustomerName}}</td>
                  </ng-container>
                  
                <ng-container matColumnDef="InvoiceDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.InvoiceDate | date}}</td>
                </ng-container>
  
                <ng-container matColumnDef="TotalAmount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.TotalAmount}}</td>
                </ng-container>
                
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"> 
                    <a target="_blank" class="btn btn-icon btn-outline-primary" (click)="download(element.InvoiceId, element.CustomerId)"
                      placement="top">
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                    &nbsp;
                    <a href="javascript:" class="btn btn-icon btn-outline-success" (click)="editInvoice(element.InvoiceId, element.CustomerId)"
                      placement="top" ngbTooltip="Edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    &nbsp;
                    <a href="javascript:" class="btn btn-icon btn-outline-danger" (click)="deleteInvoice(element.InvoiceId)"
                      placement="top" ngbTooltip="Delete">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
          <div class="row paginator">
            <mat-paginator [pageSizeOptions]="[10,20,50]"></mat-paginator>
          </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
