<div>
    <section class="mat-typography">
        <h2>Edit Invoice</h2>
    </section>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-md-6">
            <!-- <p>Customer : {{customerDetails.FirstName}} {{customerDetails.LastName}} </p> -->
            <form>
                <mat-form-field class="field-full-width">
                    <mat-label>Select Customer</mat-label>
                    <mat-select (selectionChange)="SelectCustomer($event.value)" [formControl]="colorControl">
                        <mat-option  *ngFor="let item of customersList" [value]="item.CustomerId">
                        {{item.FirstName}} {{item.LastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div>
            <form [formGroup]="editForm">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="GR/RR No." maxlength="15" formControlName="GRRRNo" #GRRRNo>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Transport" maxlength="15" formControlName="Transport" #Transport>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="VehicleNo" maxlength="40" formControlName="VehicleNo" #VehicleNo>
                </mat-form-field>            
                &nbsp;
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Station" maxlength="15" formControlName="Station" #Station>
                </mat-form-field>
            </form>
        </div>
    </div>

    <div class="row justify-content-center" *ngIf="!showAdd">
        <div class="col-md-12 align-self-center">
            <p>Please Select Customer to Add Invoice.</p>
        </div>
    </div>

    <div *ngIf="showAdd">
        <div class="row justify-content-end add-btn">
            <div class="col-md-12 align-self-end">
                <button class="btn btn-success justify-content-end" (click)="addInvoiceDetail()">
                    + Add Invoice Details
                </button>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <!-- <th>Item Description</th> -->
                    <th>Product</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let field of fieldArray; let i = index">
                    <!-- {{field | json}} -->
                    <!-- <td>
                        <textarea [(ngModel)]="field.ItemDescription" class="form-control" name="{{field.ItemDescription}}" ></textarea>
                    </td> -->
                    <td>
                        <mat-form-field class="field-full-width">
                            <mat-label>Select Product</mat-label>
                            <mat-select (selectionChange)="SelectProduct1($event.value, i)" matInput [(ngModel)]="field.ProductId">
                                <mat-option  *ngFor="let item of productList" [value]="item.ProductId">
                                {{item.ProductName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <input  [(ngModel)]="field.Rate" class="form-control" type="text" name="{{field.Rate}}" disabled="true" />
                    </td>
                    <td>
                        <input  [(ngModel)]="field.Quantity" class="form-control" type="text" name="{{field.Quantity}}" (input)="onQuantityChange($event, i)" />
                    </td>
                    <td>
                        <input  [(ngModel)]="field.Amount" class="form-control" type="text" name="{{field.Amount}}" disabled="true" />
                    </td>
                    <td>
                        <!-- <button class="btn btn-default"  type="button" (click)="editFieldValue(i, field)">Edit</button>
                        <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button> -->
                        <a href="javascript:" class="btn btn-icon btn-outline-success" (click)="editFieldValue(i, field)"
                            placement="top" ngbTooltip="Edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                        <a href="javascript:" class="btn btn-icon btn-outline-danger" (click)="deleteFieldValue(i)"
                            placement="top" ngbTooltip="Delete">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="showAddDetail">
                    <!-- <td>
                        <textarea placeholder="ItemDescription" [(ngModel)]="newAttribute.ItemDescription" class="form-control" id="newAttributeItemDescription"  name="newAttributeItemDescription"></textarea>
                    </td> -->
                    <td>
                        <mat-form-field class="field-full-width">
                            <!-- <mat-label>Select Product</mat-label> -->
                            <mat-select (selectionChange)="SelectProduct($event.value)" [(ngModel)]="newAttribute.ProductId" >
                                <mat-option  *ngFor="let item of productList" [value]="item.ProductId">
                                {{item.ProductName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="newAttributeRate" placeholder="Rate" [(ngModel)]="newAttribute.Rate" name="newAttributeRate" disabled="true" />
                    </td>
                    <td>
                        <input class="form-control" type="text" id="newAttributeQuantity" placeholder="Quantity" [(ngModel)]="newAttribute.Quantity" name="newAttributeQuantity" (input)="onQuantityChange1($event)"/>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="newAttributeAmount" placeholder="Amount" [(ngModel)]="newAttribute.Amount" name="newAttributeAmount" disabled="true" >
                    </td>
                    <td>
                        <a href="javascript:" class="btn btn-icon btn-outline-primary" (click)="addFieldValue()"
                            placement="top">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                        <a href="javascript:" class="btn btn-icon btn-outline-warning" (click)="cancel()"
                            placement="top">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </a>
                        <!-- <button class="btn btn-default" type="button" (click)="cancel()">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default" type="button" (click)="addFieldValue()">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" (click)="closeDialog()">Close</button> &nbsp;&nbsp;
        <button class="btn btn-success justify-content-end" (click)="saveInvoiceDetails()">
            Save Invoice Detail
        </button>
    </div>

    <div mat-dialog-actions *ngIf="!showAdd">
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>
