.footer {
    // position: absolute;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;    
    background-color: rgba(184, 180, 180, 0.863);
    color: white;
    text-align: center;
    padding: 30px;
}