<app-header></app-header>

<div class="container-fluid">
    <section class="mat-typography">
        <h2>Create A New Customer</h2>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" (ngSubmit)='onSubmit()' class="create-form">

        <mat-form-field class="field-full-width">
            <input matInput placeholder="First name" maxlength="15" formControlName="Firstname" #Firstname required>
            <mat-error *ngIf="createForm.controls['Firstname'].errors?.required">
            First name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Last Name" maxlength="15" formControlName="LastName" #LastName required>
            <mat-error *ngIf="createForm.controls['LastName'].errors?.required">
            Last Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Email" maxlength="40" formControlName="Email" #Email required>
            <mat-error *ngIf="createForm.controls['Email'].errors?.required">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>            

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Mobile Number" type="tel" formControlName="MobileNumber" #MobileNumber required>
            <mat-error *ngIf="createForm.controls['MobileNumber'].errors?.required">
                MobileNumber is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="createForm.controls['MobileNumber'].errors?.pattern">
                Mobile Number should be with country code ex.(+919999999999)
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Phone Number" maxlength="15" formControlName="PhoneNumber" type="tel">
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Postal Code" maxlength="6" formControlName="PostalCode" type="PostalCode" required>
            <mat-error *ngIf="createForm.controls['PostalCode'].errors?.required">
                Please enter your PostalCode
            </mat-error>
            <mat-error *ngIf="createForm.controls['PostalCode'].errors?.pattern">
                PinCode should be with 6 numbers
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="field-full-width">
            <mat-label>Select Country</mat-label>
            <mat-select formControlName="Country" (selectionChange)="getStateList($event.value)" #Country required>
                <mat-option  *ngFor="let item of countryList" [value]="item.CountryId">
                {{item.CountryName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="createForm.controls['Country'].errors?.required">
                Please choose Country
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="field-full-width">
            <mat-label>Select State</mat-label>
            <mat-select formControlName="State" (selectionChange)="getCityList($event.value)" #State required>
                <mat-option  *ngFor="let item of stateList" [value]="item.StateId">
                {{item.StateName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="createForm.controls['State'].errors?.required">
                Please choose State
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="field-full-width">
            <mat-label>Select City</mat-label>
            <mat-select formControlName="City" #City required>
                <mat-option  *ngFor="let item of cityList" [value]="item.CityId">
                {{item.CityName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="createForm.controls['City'].errors?.required">
                Please choose City
            </mat-error>
        </mat-form-field>

        <!-- <mat-divider></mat-divider>
        <br><br>
        <div class="col-sm-3" *ngIf="!!imageToShow && imageToShow != ''">
            <img src="{{imageToShow}}" onerror="this.src='https://api.janamrashi.com/Attachments/user.png';" alt="" width="90" height="60">
        </div>
        <div class="col-sm-6">
            <div class="form-group fill">
                <input type="file" class="form-control" id="Icon" placeholder="Profile Image" accept="image/*"
                    (change)="changeListener($event.target.files)">
            </div>
        </div> -->
        <div class="col-sm-3">
            <mat-slide-toggle color="primary"  (change)="setValue($event)">Active</mat-slide-toggle>
        </div>
        
        <br><br>
        <button mat-raised-button color="accent" (click)="goBack()">Back</button>&nbsp;
        <button type="submit" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
        </form>
</div>
    
<app-footer></app-footer>
