.pdf-template {
    margin: 50px;
}
.main-head {
    text-align: center;
    margin-top: 50px;
}
.col-border {
    border: 1px solid #dfdada;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.table-head {
    background-color: #c7e5fa;
    color: #5483d9;
}
img {
    float: right;
}
.head {
    h1 {
        font-weight: 600px;
        font-size: 40px;
    }
}
.sign {
    text-decoration: underline;
}
.download-btn {
    margin-top: 250px;
}

table, th, td {
    border: 1px solid black;
  }
.items-col {
    td {
        border-bottom: none;
        border-top: 0px;
    }
}